@charset "utf-8";

.cont-header.care {background:#fff; padding:100px 20px 0;}
.cont-header.care .header-inner {position:relative; width:820px; height:400px; margin:0 auto; padding:50px 20px 0; background:linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) ), url(../img/img_care_top.png) no-repeat 0 0; background-size:cover;}}
.cont-header.care .header-inner .prd-wrap {padding:50px 30px 0;}
.cont-header.care .header-inner h2 {font-size:40px; color:#fff; font-weight:400;}
.cont-header.care .header-inner .prd-wrap .ps-bottom {position:absolute; bottom:20px; left:20px;}
.cont-header.care .header-inner .prd-wrap .s-txt {font-size:14px; margin-top:50px;}
.cont-header.care .header-inner .prd-wrap .r-txt {font-weight:700;}
.cont-body.care {width:820px; margin:0 auto; padding:100px 0 40px; background:#fff;}
.record-list {margin-top:10px;}
.record-list span {display:inline-block; font-size:12px; color:#999}
.record-list span:first-child:after {content:''; display:inline-block; width:1px; height:10px; margin:0 5px 0 8px; background:#fff;}
.record-list.t2 span {color:#999;}
.record-list.t2 span:first-child:after {background:#ddd;}
.cont-footer.care {width:820px;}
.teeth_info {color:#222;}
.teeth_info .tit {margin-top:50px; font-size:22px;}
.teeth_info .tit:first-child {margin-top:10px;}
.teeth_info .s-tit {margin-top:10px; font-weight:700;}
.teeth_info .txt {margin-top:8px; font-size:14px;}
.teeth_info .num-tit {margin-top:20px;}
.teeth_info .writer {color:#666; font-size:12px;}
.foot-note-box {margin:25px 0 50px 0; padding:14px 0; border-top:1px dotted #ddd; border-bottom:1px dotted #ddd;}
.tag-wrap a {display:inline-block; margin-left:10px; color:#222;}
.tag-wrap a:first-child {margin-left:0;}
.list-dash1 {margin-top:5px;}
.list-dash1 ul:after {content:''; display:block; clear:both;}
.list-dash1 ul li {position:relative; margin-top:5px;}
.list-dash1 ul li:before {content:''; position:absolute; top:9px; left:0; width:4px; height:1px; background:#222;}
.list-dash1 ul li {padding-left:10px;}
.list-num {margin-top:5px;}
.list-num ul:after {content:''; display:block; clear:both;}
.list-num ul li:first-child {margin-top:0;}
.list-num ul li {position:relative; margin-top:5px; padding-left:18px;}
.list-num ul li span {display:inline-block; position:absolute; top:0; left:0;}
.img-wrap {font-size:0; margin-top:15px;}
.img-wrap .img-item {display:inline-block; margin-left:15px;}
.img-wrap .img-item:first-child {margin-left:0;}
.cont-footer.care {margin-top:70px; border:0;}
.cont-footer.care .title {position:absolute; top:0; left:0; margin-top:-40px; font-size:16px; font-weight:700;}
.btn-area {width:820px; margin:20px auto 0; display:flex; justify-content:space-between;}
.btn-round-s.share {display:block; height:40px; padding:0 16px; border:1px solid #d4d4d4; }
.btn-round-s.share:before {content:''; display:inline-block; width:15px; height:16px; margin-right:7px; margin-top:-3px; background:url(../img/ico_share_mo.png) no-repeat 0 0; background-size:15px 16px; vertical-align:middle;}
.btn-go-list {height:40px; line-height:40px; padding:0 28px; color:#fff; border-radius:5px; font-weight:700; text-align:center; background:#008bec;}
.smilecare-list.t2 {margin-top:90px;}
.smilecare-list.t3 {margin-top:0;}
.smilecare-list .list-cont .cont-item .li-img {width:140px; height:140px;}
.smilecare-list.t2 .list-title {width:820px; margin:0 auto; padding:0 20px 20px 0; background:#fff; color:#222; font-size:16px; font-weight:700;}
.smilecare-list.t2 .list-cont {width:820px; margin:0 auto;}
.smilecare-list.t2 .list-cont .cont-item {padding-bottom:60px;}
.smilecare-list.t2 .list-cont .cont-item>li {width:375px; height:140px; border:0; padding:0; margin-top:0; margin-bottom:20px; margin-right:30px;}
.smilecare-list.t2 .list-cont .cont-item .li-txt {position:absolute; left:160px; top:0; padding-top:0;}
.smilecare-list.t2 .list-cont .cont-item .li-txt .title {margin-top:-5px; margin-bottom:0; font-size:23px; font-weight:500; line-height:29px;}
.smilecare-list.t2 .list-cont .cont-item .li-txt .desc {font-size:14px;}
.smilecare-list.t2 .list-cont .cont-item .li-txt .record-list {margin:0 0 5px;}
.smile-main.t2.main-subscribe2 {border-radius:18px; background:none; margin-bottom:80px;}
.smile-main.t2.main-subscribe2 .title {margin-bottom:10px; font-size:24px; font-weight:400;}
.smile-main.t2.main-subscribe2 p {font-size:16px;}
.smile-main.t2.main-subscribe2 .btn-txt {margin-top:20px; font-size:17px; font-weight:500;}
.smile-main.t2 .smile-inner {width:820px; margin:0 auto; border-radius:18px; background:#e6f2fe;}
.record-list.t2 {width:820px; margin:30px auto 0; text-align:right;}

.cont-body.care .tit-line-wrap {position:relative;}
.cont-body.care .tit-line-wrap .ps-right {position:absolute; right:0; top:10px;}
.cont-body.care .tit-line-wrap .select-area {font-size:0;}
.cont-body.care .tit-line-wrap .select-area select {width:135px; height:28px; box-sizing:border-box; border-radius:0; border:1px solid #acbdc5; font-size:14px; border-right:none; background:url(../img/ico_select_t.png) no-repeat right center; background-size:29px 28px; margin-right:5px;}
.cont-body.care .tit-line-wrap .select-area select.small {width:105px; margin-right:0;}
.tit-line-wrap h2 {font-size:32px; font-weight:700;}