@charset "utf-8";

/* Mobile */
.box-btn {text-align: center;}
button.layer_btn {margin: 50px; padding: 10px 25px; border: 1px solid #000; color: red;}
.category-modal {display: none;	position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; overflow: auto; background-color: #000; opacity: 80%;}
.category-modal .modal-content .modal-head {position: relative; padding: 14px 20px; border-bottom: 1px solid #59595a; padding-left: 0; padding-right: 0;}
.category-modal .modal-content span {display: block; text-align: center; color: #fff; font-size: 17px;}
.category-modal .modal-content .modal-head .close-btn {position: absolute; top: 16px; right: 20px;}
.category-modal .modal-content .modal-head .close-pop-ico i {position: absolute; top: -5px; right: 10px; display: block; width: 2px; height: 30px; background-color: #fff; text-indent: -9999px;}
.category-modal .modal-content .modal-head .close-pop-ico i:nth-child(1) {transform: rotate(45deg);}
.category-modal .modal-content .modal-head .close-pop-ico i:nth-child(2) {transform: rotate(-45deg);}
.modal-cont ul.care-cont {padding: 40px 0; font-size: 20px; font-weight: 600; text-align: center; border-bottom: 1px solid #59595a;}
.modal-cont ul.care-cont li {margin-top: 25px;}
.modal-cont ul.care-cont li a {color: #fff;}
.modal-cont ul.care-cont li:first-child {margin-top: 0;}
.modal-cont .care {padding: 36px 40px;}
.modal-cont .care ul.care-package,
.modal-cont .care .more #care-hide {margin-top: 25px;}
.modal-cont .care ul.care-package li,
.modal-cont .care .more #care-hide li {margin-top: 12px;}
.modal-cont .care ul.care-package li:first-child,
.modal-cont .care .more #care-hide li:first-child {margin-top: 0;}
.modal-cont .care ul.care-package li a.txt-type,
.modal-cont .care .more #care-hide li a.txt-type {display: block; font-size: 14px; color: #fff; text-decoration: underline; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.modal-cont .care strong.care-txt {display: block; font-size: 16px; color: #8e8e8e; font-weight: 700; text-align: center;}
.modal-cont .care .more {margin-top: 30px;}
.modal-cont .care .more>a {display: block;}
.modal-cont .care .more .more-txt {cursor: pointer; position: relative; padding-right: 32px; font-size: 13px; color: #636363;}
.modal-cont .care .more .more-txt:after {content: ""; position: absolute; top: 5px; left: 160px; width: 24px; height: 14px; background: url('../img/ico_more.png') 0 0 no-repeat; background-size: 50%;}
.modal-cont .care .more #care-hide {margin-top: 25px; display: none;}
.care-show {display: block;}

/* .mini-close {text-align: right;}

.close-mini-btn {margin-top: 20px; background-color: #fff; padding: 0 12px; border: 1px solid #000; border-radius: 15px;}
.close-mini-btn span {display: block; color: #000; font-size: 13px;} */
