@charset "utf-8";

/* PC */
.ui-modal.type-dark.type-normal.ps-bottom.open .ui-modal-wrap { bottom:0; background:rgba(0,0,0,.9); }
.ui-modal.type-dark.type-normal .ui-modal-wrap { position:fixed !important; left:0 !important; transform:none !important; width: 100%; height: 100%; max-height: 100%;background-color: #0c0c0d;}
.ui-modal.type-normal.type-dark .ui-modal-cont { padding:0 0 40px; max-height:calc(100% - 110px); margin-top:110px; color:#8e8e8e; }
.ui-modal.type-dark .ui-modal-head {height:auto; padding: 38px 0 37px 0; background-color: #0c0c0d; opacity: 90%; border-bottom: 1px solid #59595a; text-align: center; z-index: 2;}
.ui-modal.type-dark .ui-modal-head h1 {font-size: 25px;}
.ui-modal.type-dark .ui-modal-head .btn-close {position: absolute; top:calc(50% - 20px); left:50%; margin-left:300px;}
.ui-modal.type-dark .ui-modal-head .btn-close:before,
.ui-modal.type-dark .ui-modal-head .btn-close:after {top: 17px; left:3px; width: 30px; height: 2px;}

ul.category-menu {padding:22px 15px 27px; font-size:27px; font-weight: 600; text-align: center; border-bottom: 1px solid #59595a;}
ul.category-menu li { display:inline-block; vertical-align:middle; margin:5px 28px;}
ul.category-menu li a {color: #fff;}

.package-menu {width:600px; margin:0 auto; padding: 50px 40px 0 36px;}
.package-menu .btn-wrap { margin-top:15px; }
.package-menu ul.care-package {margin-top: 25px; text-align: center; overflow:hidden;}
.package-menu ul.care-package li  {margin-top: 12px; display: block;}
.package-menu ul.care-package li:first-child {margin-top: 0;}
.package-menu ul.care-package li a {display:inline-block; max-width:425px; overflow:hidden; font-size: 19px; color: #fff; text-decoration: underline; text-overflow: ellipsis; white-space: nowrap;}
.package-menu strong.care-txt {display: block; font-size:21px; color: #8e8e8e; font-weight: 700; text-align: center;}
.package-menu .more {margin-top: 30px;}
.package-menu .more>a {display: block;}
.package-menu .more .more-txt {cursor: pointer; position: relative; padding-right: 32px; font-size: 13px; color: #636363; border: 0; outline: 0; text-align: center;}
.package-menu .more .more-txt:after {content: ""; position: absolute; top: 6px; left: 160px; width: 24px; height: 14px; background: url('../img/ico_more_down_mo.png') 0 0 no-repeat; background-size: 50%;}
.package-menu .more .more-txt.changed:after {content: ""; position: absolute; top: 6px; left: 160px; width: 24px; height: 14px; background: url('../img/ico_more_up_mo.png') 0 0 no-repeat; background-size: 50%;}
.modal-footer-btns { max-width:1100px; margin:70px auto 0; text-align: right;}