@charset "utf-8";

/* Mobile */
.ui-modal.type-dark.type-normal.ps-bottom.open .ui-modal-wrap { bottom:0; background:rgba(0,0,0,.9); }
.ui-modal.type-dark.type-normal .ui-modal-wrap { width: 100%; height: 100%; max-height: 100%;background-color: #0c0c0d;}
.ui-modal.type-dark .ui-modal-cont { color:#8e8e8e; }
.ui-modal.type-dark .ui-modal-head {padding: 15px 0 15px 0; background-color: #0c0c0d; opacity: 90%; border-bottom: 1px solid #59595a; text-align: center; z-index: 2;}
.ui-modal.type-dark .ui-modal-head h1 {font-size: 17px;}
.ui-modal.type-dark .ui-modal-head .btn-close {position: absolute; top: 13px; right: 15px;}
.ui-modal.type-dark .ui-modal-head .btn-close:before,
.ui-modal.type-dark .ui-modal-head .btn-close:after {top: 13px; left: 0; width: 30px; height: 2px;}

ul.category-menu {padding:12px 15px 40px; margin:0 -15px; font-size: 20px; font-weight: 600; text-align: center; border-bottom: 1px solid #59595a;}
ul.category-menu li {margin-top:17px;}
ul.category-menu li a {color: #fff;}
ul.category-menu li:first-child {margin-top: 0;}

.package-menu {padding: 36px 40px 0 36px;}
.package-menu .btn-wrap { margin-top:15px; }
.package-menu ul.care-package {margin-top: 25px; text-align: center; overflow:hidden;}
.package-menu ul.care-package li  {margin-top: 12px; display: block;}
.package-menu ul.care-package li:first-child {margin-top: 0;}
.package-menu ul.care-package li a {display: block; font-size: 14px; color: #fff; text-decoration: underline; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.package-menu strong.care-txt {display: block; font-size: 16px; color: #8e8e8e; font-weight: 700; text-align: center;}
.package-menu .more {margin-top: 30px;}
.package-menu .more>a {display: block;}
.package-menu .more .more-txt {cursor: pointer; position: relative; padding-right: 32px; font-size: 13px; color: #636363; border: 0; outline: 0; text-align: center;}
.package-menu .more .more-txt:after {content: ""; position: absolute; top: 6px; left: 160px; width: 24px; height: 14px; background: url('../img/ico_more_down_mo.png') 0 0 no-repeat; background-size: 50%;}
.package-menu .more .more-txt.changed:after {content: ""; position: absolute; top: 6px; left: 160px; width: 24px; height: 14px; background: url('../img/ico_more_up_mo.png') 0 0 no-repeat; background-size: 50%;}
.modal-footer-btns {margin-top:25px; text-align: right;}